{# Based on the Inspiritas index.html template https://github.com/littke/inspiritas-bootstrap #}
{{ doctype() }}
<html lang="en">
<head>
    <meta charset="utf-8">

    {% block title %}{{ headTitle('Icelytics') }}{% endblock %}

    {% block meta %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content="Icelytics">
    {{ headMeta() }}
    {% endblock %}

    {% block styles %}
    {{ headLink() }}
    {{ headStyle() }}
    {% endblock %}

    {% block headscript %}
    {{ headScript() }}
    {% endblock %}
</head>

<body>
    
<div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </a>

            <a class="brand" href="/">Icelytics</a>
        </div>
    </div>
</div>

<div class="container">
    <div class="row-fluid">
        <div class="span3">
            <aside>
                <nav>
                    <ul class="nav">
                        <li><a href="/">Dashboard</a></li>
                    </ul>
                </nav>
            </aside>
        </div>
        <div class="span9" id="content-wrapper">
            <div id="content">
{{ content|raw }}
            </div>
        </div>
    </div>
</div>

{% block inlinescript %}
{{ inlineScript() }}
{% endblock %}

</body>
</html>
